:root{
   --couleur-primaire:#83C5BE;
   --couleur-secondaire:#006D77;
   --couleur-semi-blanc:#EDF6F9;
   --couleur-rose-pale:#FFDDD2;
   --couleur-rose-foncé:#E29578;
   --font-raleway: 'Raleway', sans-serif;
   --font-prompt: 'Prompt', sans-serif;
   }
   
 
   nav{
       background-color: var(--couleur-secondaire);
       position: fixed;
   }

   .nav-item{
       
       color: var(--couleur-secondaire);
   }
.navbar-toggler-icon{
   border: 2px solid var(--couleur-semi-blanc);
   border-radius: 5px;
   background-color: var(--couleur-primaire);
   
}

   img{
       width: 105px;

   }

   .chat{
       width: 50px;
   }

   .navbar-brand{
       color: var(--couleur-semi-blanc);
       font-size: 25px;
       font-family: var(--font-prompt);
       text-align: 50px;
   }

footer {
   background-color:  #3f4978;
}

footer img{
   width: 250px;
}

footer p{
   color: #EDF6F9;
  
}

input{
   width: 95%;
   margin-top: 101px;
   border: 2px solid var(--couleur-secondaire);
   border-radius: 5px;
   background-color: var(--couleur-semi-blanc);
}


input::placeholder{
   width: 90%;
   color: var(--couleur-secondaire);
}

i{
   color: var(--couleur-secondaire);
}

svg{
   color: var(--couleur-secondaire);
}



.btn-primary{
   background-color: var(--couleur-rose-foncé);
   border: none;
   font-family: var(--font-prompt);
   font-weight: bold;
   color: var(--couleur-semi-blanc);
}

.btn-primary:hover{
   background-color: var(--couleur-rose-pale);
   border: none;
   
}


.swiper {
   width: 180vw;
   
 }

 .swiper-slide{
  
   display: inline;
 }


#scrollspyHeading1{
   background-color: var(--couleur-primaire);
}

body {
overflow-x: hidden;
  background-color: var(--couleur-primaire);
}

h5{
  font-size: 15px;
}

p{
  font-size: 12px;
}



.Louis{
  border-radius: 50px;
  width: 50px;
  margin-top: 15px;
}

.Anima{
   border-radius: 50px;
  width: 50px;
 height: 50px;
  margin-top: 15px;
  
}

.marpi{
   border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

#vedette{
  width: 140%;
}

#vedette .card{
   min-width: 200px;
  margin-left: 50px;
  
}

#vedette .card-img-top{
   min-width: 200px;
   max-height: 560px;
}

#autres{
   width: 100%;
}

#autres .card-img-top{
height: 42vh;
min-height: 200px;
object-fit: cover;

object-position: 100% 50%;
}

#autres .card{
 max-width: 98%; 
 
}

a{
   text-decoration: none;
 color: var(--couleur-secondaire);
}

.card{
   background-color: var(--couleur-semi-blanc);
}

.Robin{
   border-radius: 50px;
   width: 50px;
   margin-top: 15px;
 }

 .Robert{
   border-radius: 50px;
   width: 50px;
   margin-top: 15px;
 }

 .Joon{
   border-radius: 50px;
   width: 50px;
   margin-top: 15px;
 }