:root {
  --couleur-primaire: #83c5be;
  --couleur-secondaire: #006d77;
  --couleur-semi-blanc: #edf6f9;
  --couleur-rose-pale: #ffddd2;
  --couleur-rose-foncé: #e29578;
  --font-raleway: "Raleway", sans-serif;
  --font-prompt: "Prompt", sans-serif;
}

html {
  background-color: #fff;
}
h1 {
  font-size: 60px;
  font-family: var(--font-prompt);
  color: var(--couleur-semi-blanc);
}

h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: var(--font-raleway);
  color: black;
}

h3 {
  font-size: 70px;
  font-family: var(--font-raleway);
  color: black;
  font-weight: bolder;
}

h4 {
  font-family: var(--font-raleway);
}

.navbar-brand {
  color: var(--couleur-semi-blanc);
  font-size: 25px;
  font-family: var(--font-prompt);
  text-align: 50px;
}

nav {
  background-color: var(--couleur-secondaire);
}

.nav-item {
  color: var(--couleur-secondaire);
}

img {
  width: 105px;
}

.navbar-toggler-icon {
  border: 2px solid var(--couleur-semi-blanc);
  border-radius: 5px;
  background-color: var(--couleur-primaire);
}

button {
  width: 100;
  margin: 5px;
}

.btn-primary {
  background-color: var(--couleur-rose-foncé);
  border: none;
  font-family: var(--font-prompt);
  font-weight: bold;
  color: var(--couleur-semi-blanc);
}

.btn-primary:hover {
  background-color: var(--couleur-rose-pale);
  border: none;
}

div .boutons {
  overflow: hidden;
}

input {
  width: 90%;
  margin: 5px;
  border: 1px solid var(--couleur-secondaire);
  border-radius: 5px;
}

input::placeholder {
  width: 90%;
  margin: 5px;
  color: var(--couleur-secondaire);
}

footer {
  background-color: #3f4978;
}

footer img {
  width: 250px;
}

footer p {
  color: #edf6f9;
}

svg {
  color: var(--couleur-secondaire);
}

.app iframe {
  width: 455px;
  height: 100%;
  aspect-ratio: 5/9;
  border-radius: 12px;
  margin-top: 70px;
}

.navbar {
  font-family: var(--font-prompt);
  color: #fff;
}

.containerApp {
  margin: 100px;
  padding-bottom: 100px;
}

main {
  height: 600vh;
}

iframe {
  width: 22vw;
  height: 65vh;
  border-radius: 5px;
}

#scrollspyHeading1 {
  margin-top: 70px;
}

#scrollspyHeading2 {
  margin-top: 50px;
  margin: 50px;
  background-color: #fff;
}

#scrollspyHeading3 {
  margin: 50px;
  font-family: var(--font-prompt);
  font-size: 45px;
  background-color: #fff;
}

.nav-link {
  color: var(--couleur-semi-blanc);
}
.nav-link:hover {
  background-color: var(--couleur-rose-foncé);
  color: #edf6f9;
}
.nav-link:active {
  background-color: var(--couleur-rose-pale);
}

.col-lg-3 {
  margin-top: 7px;
  margin-right: 7px;
  background-color: #fff;
}

.card {
  margin-top: 25px;
}

.col-2 {
  margin-bottom: 120px;
}

#TemoignagesDescription {
  margin: 50px;
  font-family: var(--font-prompt);
  font-size: 25px;
  background-color: #fff;
}

#FonctionnalitesDescription {
  margin: 50px;
  font-family: var(--font-prompt);
  font-size: 25px;
  background-color: #fff;
}

.container-fluid {
  margin: 18px;
  padding-bottom: 35px;
  background-color: #fff;
}

.container-fluid2 {
  margin: 18px;
  padding-bottom: 100px;
  background-color: #fff;
}
.container-fluid3 {
  margin: 18px;
  padding-bottom: 100px;
  background-color: var(--couleur-semi-blanc);
}

.card-body {
  margin: 20px;
}

#scrollspyHeading4 {
  margin-bottom: 80px;
  padding-top: 25px;
  padding-left: 25px;
  font-weight: bolder;
}

.containerAccordeon {
  margin: 20px;
}

.container-info {
  background-color: #006d7777;
}

.containerInfolettre {
  background-image: url("https://images.unsplash.com/photo-1578985824626-945a6f546304?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80");
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;

  margin-top: 100px;
  width: 100%;
  height: 10%;
}

.col-mb-3 {
  margin-bottom: 500px;
}

.modal-dialog p {
  color: black;
}

.scrollspyHeading5 {
  color: #fff;
}

.containerInfolettre {
  margin-bottom: 100px;
}

.InfoTexte {
  color: #fff;
}

#exampleModalLabel {
  color: #006d77;
}

.control-label {
  font-family: var(--font-prompt);
  color: var(--couleur-secondaire);
}

#scrollspyHeadingSavoirPlus {
  font-size: 40px;
  font-weight: bolder;
  background-color: var(--couleur-semi-blanc);
  padding: 20px;
}

.swiper {
  width: 600px;
  height: 300px;
  background-color: #edf6f9;
}

.img {
  width: 20vh;
  height: 500px;
  object-fit: fill;
}

.scrollspy {
  background-color: #fff;
}

.Fonctionnalite {
  background-color: #fff;
}

.bi {
  color: var(--couleur-secondaire);
  margin: 50%;
}
.bi-quote {
  margin-left: 2px;
}

.bi-envelope-at {
  margin-left: 2px;
}

/** {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.cursor {
  cursor: pointer;
}
}/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--couleur-secondaire);
  font-weight: bold;
  font-size: 50px;
  border-radius: 3px 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover,
.next:hover {
  background-color: var(--couleur-rose-foncé);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
/*.column {
  float: left;
  width: 16.66%;
}

.imgSlide1,
.imgSlide2,
.imgSlide3,
.imgSlide4,
.imgSlide5 {
  border: solid 10px;
  border-color: #fff;
  border-radius: 5%;
  box-shadow: 3px 3px 15px var(--couleur-secondaire);
  width: 20%;
}

.mySlides {
  display: flex;
  flex-direction: column;
  justify-self: start;
}*/

.sample-slider {
  width: 70%;
}
.sample-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.swiper-wrapper {
  padding-left: 250px;
  padding-top: 50px;
}
.swiper-slide {
  width: 100%;
  height: 500px;
  
}



section .swiper {
  width: 98vw;
  height: 250vh;
}
img .imgSlide {
  width: 100px;
 
  height: 100%;
 
  margin-right: 200px;
  overflow-x: scroll;
  overflow-x: hidden;
object-fit: fill;


}


.imgSlide {
  width: 350px;

  height: 500px;

 margin-top: 750px;
  overflow-x: scroll;
  overflow-x: hidden;
object-fit: fill;


}

.swiper-screenshots .swiper-wrapper{
width: 80px;
}




 .no2{
margin-left: 300px;
}


.no3{
  margin-left: 600px;
}


.no4{
  margin-left:1200px;
}


.no5{
  margin-left: 1500px;
}