:root {
  --couleur-primaire: #83c5be;
  --couleur-secondaire: #006d77;
  --couleur-semi-blanc: #edf6f9;
  --couleur-rose-pale: #ffddd2;
  --couleur-rose-foncé: #e29578;
  --font-raleway: "Raleway", sans-serif;
  --font-prompt: "Prompt", sans-serif;
}

h1 {
  font-size: 60px;
  font-family: var(--font-prompt);
  color: var(--couleur-semi-blanc);
}

h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: var(--font-raleway);
  color: black;
}

h3 {
  font-size: 70px;
  font-family: var(--font-raleway);
  color: black;
  font-weight: bolder;
}

h4 {
  font-family: var(--font-raleway);
}

main {
  background-color: var(--couleur-semi-blanc);
}

.navbar-brand {
  color: var(--couleur-semi-blanc);
  font-size: 25px;
  font-family: var(--font-prompt);
  text-align: 50px;
}

nav {
  background-color: var(--couleur-secondaire);
}

.nav-item {
  color: var(--couleur-secondaire);
}

img {
  width: 105px;
}

.navbar-toggler-icon {
  border: 2px solid var(--couleur-semi-blanc);
  border-radius: 5px;
  background-color: var(--couleur-primaire);
}

button {
  width: 100;
  margin: 5px;
}

.btn-primary {
  background-color: var(--couleur-rose-foncé);
  border: none;
  font-family: var(--font-prompt);
  font-weight: bold;
  color: var(--couleur-semi-blanc);
}

.btn-primary:hover {
  background-color: var(--couleur-rose-pale);
  border: none;
}

div .boutons {
  overflow: hidden;
}

input {
  width: 90%;
  margin: 5px;
  border: 1px solid var(--couleur-secondaire);
  border-radius: 5px;
}

input::placeholder {
  width: 90%;
  margin: 5px;
  color: var(--couleur-secondaire);
}

footer nav {
  background-color: #3f4978;
  margin-top: 1rem;
  vertical-align: 1rem;
}

footer img {
  width: 250px;
}

footer p {
  color: #edf6f9;
}

svg {
  color: var(--couleur-secondaire);
}

main {
  background-color: #fff;
}

.app iframe {
  width: 455px;
  height: 100%;
  aspect-ratio: 5/9;
  border-radius: 12px;
  margin-top: 70px;
}

.navbar {
  font-family: var(--font-prompt);
  color: #fff;
}

.containerApp {
  margin: 100px;
}

main {
  height: 1000vh;
}

iframe {
  width: 22vw;
  height: 65vh;
}

#scrollspyHeading1 {
  margin-top: 70px;
}

#scrollspyHeading2 {
  margin-top: 50px;
  margin: 50px;
}

#scrollspyHeading3 {
  margin: 50px;
  font-family: var(--font-prompt);
  font-size: 45px;
}

.nav-link {
  color: var(--couleur-semi-blanc);
}

.col-lg-3 {
  margin-top: 7px;
  margin-right: 7px;
}

.card {
  margin-top: 25px;
}

.col-2 {
  margin-bottom: 120px;
}

#TemoignagesDescription {
  margin: 50px;
  font-family: var(--font-prompt);
  font-size: 25px;
}

#FonctionnalitesDescription {
  margin: 50px;
  font-family: var(--font-prompt);
  font-size: 25px;
}

.container-fluid {
  margin: 18px;
  padding-bottom: 35px;
}

.container-fluid2 {
  margin: 18px;
  padding-bottom: 100px;
}

.card-body {
  margin: 20px;
}

#scrollspyHeading4 {
  margin-bottom: 80px;

  font-weight: bolder;
}

.containerAccordeon {
  margin: 20px;
}

.container-info {
  background-color: #006d7777;
}

.containerInfolettre {
  background-image: url("https://images.unsplash.com/photo-1578985824626-945a6f546304?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80");
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 100px;
  margin-top: 100px;
  width: 100%;
  height: 10%;
}

.col-mb-3 {
  margin-bottom: 500px;
}

.modal-body p {
  color: black;
}

.scrollspyHeading5 {
  color: #fff;
}

.InfoTexte {
  color: #fff;
}

#exampleModalLabel {
  color: #006d77;
}
