:root{
   --couleur-primaire:#83C5BE;
   --couleur-secondaire:#006D77;
   --couleur-semi-blanc:#EDF6F9;
   --couleur-rose-pale:#FFDDD2;
   --couleur-rose-foncé:#E29578;
   --font-raleway: 'Raleway', sans-serif;
   --font-prompt: 'Prompt', sans-serif;
   }
   
 
   nav{
       background-color: var(--couleur-secondaire);
       
   }

   .nav-item{
       
       color: var(--couleur-secondaire);
   }
.navbar-toggler-icon{
   border: 2px solid var(--couleur-semi-blanc);
   border-radius: 5px;
   background-color: var(--couleur-primaire);
   
}

.flech .bi-chevron-left{
   border: 2px solid var(--couleur-semi-blanc);
   border-radius: 5px;
   background-color: var(--couleur-primaire);
   color: black;

}

.coeur .bi-heart-fill{
   color: var(--couleur-rose-foncé);
  
}

main{
padding-top: 100px;
}

   img{
       width: 105px;

   }

   .chat{
       width: 50px;
       
   }

   .navbar-brand{
       color: var(--couleur-semi-blanc);
       font-size: 25px;
       font-family: var(--font-prompt);
       text-align: 50px;
   }

footer {
   background-color:  #3f4978;
}

footer img{
   min-width: 200px;
}

footer p{
   color: #EDF6F9;
  
}


form{
   position: relative;
}


form i{
   position: absolute; top: 8px; left: 13px; z-index: 1000;
}

 .form-control::placeholder{
  
   color: var(--couleur-secondaire);
   
}

.form-control{
   border: 2px solid var(--couleur-secondaire); border-radius: 5px; background-color: var(--couleur-semi-blanc);
}


i{
   color: var(--couleur-secondaire);
  
}




.btn-primary{
   background-color: var(--couleur-rose-foncé);
   border: none;
   font-family: var(--font-prompt);
   font-weight: bold;
   color: var(--couleur-semi-blanc); 

}

.btn-primary:hover{
   background-color: var(--couleur-rose-pale);
   border: none;
   
}


.swiper-filters .swiper-wrapper {

   width: 80px;
  
 }


#scrollspyHeading1{
   background-color: var(--couleur-primaire);
}

body {
overflow-x: hidden;
  background-color: var(--couleur-primaire);
}

h5{
  font-size: 15px;
}




.Louis{
  border-radius: 50px;
  width: 50px;
 
}

.Anima{
   border-radius: 50px;
  width: 50px;
 height: 50px;
}

.marpi{
   border-radius: 50px;
  width: 50px;
  height: 50px;
 
}

#vedette{
  width: 140vw;
}

#vedette .card{
   max-width: 200px;

  
}

 .card-body{
padding: 6px;
  
}

.card-body p{
   font-size: 59%;
}

#vedette .card-img-top{
   
   max-height: 143px;
   height: 20vh;
   object-fit: cover;

object-position: 50% 0%;
}

#autres{
   width: 100%;
}

#autres .card-img-top{
height: 42vh;
min-height: 200px;
object-fit: cover;

object-position: 100% 50%;
}

#autres .card{
 max-width: 98%; 
 
}

a{
   text-decoration: none;
 color: var(--couleur-secondaire);
}

.card{
   background-color: var(--couleur-semi-blanc);
}



.Robin{
   border-radius: 50px;
   width: 50px;

 }

 .Robert{
   border-radius: 50px;
   width: 50px;

 }

 .Joon{
   border-radius: 50px;
   width: 50px;

 }

 
 .image-font{
   width: 100%;
   height: 50vh;
 }

#navbar-example1{
   background-color: #006d7700;
 }